@model IEnumerable<PubRestoran.Models.Gallery>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminArea/Views/Shared/_adminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.gallery_img)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="~/Uploads/@item.gallery_img" style="width:100px; height:100px;" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.gallery_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.gallery_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.gallery_id })
        </td>
    </tr>
}

</table>
