@model PubRestoran.Models.Booking

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/AdminArea/Views/Shared/_adminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.booking_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.booking_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.booking_party_size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.booking_party_size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.booking_ex_requirements)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.booking_ex_requirements)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.booking_user_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.booking_user_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.booking_user_phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.booking_user_phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.booking_user_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.booking_user_email)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
