@model PubRestoran.ViewModel.Mymodel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminArea/Views/Shared/_adminLayout.cshtml";
}

<h2>Gelen Sifarisler</h2>
<table class="table">
    <tr>
        <th>
             Adı
        </th>
        <th>
            Telefon
        </th>
        <th>
            Email
        </th>
        <th>
            Vaxt
        </th>
        <th>
            Qonaq sayı
        </th>
        <th>
            İstekler
        </th>

    </tr>

    @foreach (var item in Model._booking)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.booking_user_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.booking_user_phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.booking_user_email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.booking_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.booking_party_size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.booking_ex_requirements)
            </td>

         
        </tr>
    }

</table>
