@model PubRestoran.Models.Post

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/AdminArea/Views/Shared/_adminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.post_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.post_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.post_insides)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.post_insides)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.post_header)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.post_header)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.post_text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.post_text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.post_img)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.post_img)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.post_about_inside)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.post_about_inside)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.post_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
