@model IEnumerable<PubRestoran.Models.Post>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminArea/Views/Shared/_adminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.post_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.post_insides)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.post_header)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.post_text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.post_img)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.post_about_inside)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.post_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.post_insides)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.post_header)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.post_text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.post_img)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.post_about_inside)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.post_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.post_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.post_id })
        </td>
    </tr>
}

</table>
